# Node modules
smartcontract/node_modules
frontend/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
smartcontract/artifacts

# Hardhat compilation (v2) support directory
smartcontract/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

/frontend/src